<!--
* Author: Gary Fleming
* Student No: 20019497
* Start Date: Oct 10th 2017
-->

<nav class="ui menu">
    <header class="header item">Admin Twitter</header>
    <div class="right menu">
        <a id="adminhome" class="item" href="/adminhome">Home&emsp;&nbsp;&nbsp;&nbsp;<i class="blue home icon"></i></a>
        <a id="about" class="item" href="/logout">Logout&emsp;&nbsp;&nbsp;<i class="red sign out icon"></i></a>
    </div>
</nav>
