<!--
* Author: Gary Fleming
* Student No: 20019497
* Start Date: Oct 10th 2017
-->

<nav class="ui menu">
    <header class="header item">Twitter</header>
    <div class="right menu">
        <div class="ui dropdown item">
            &emsp;&emsp;Menu&emsp;&emsp;<i class="brown sidebar icon"></i>
            <div class="menu">
                <a id="tweet" class="item" href="/tweet">Tweet Page&emsp;<i class="teal talk icon"></i></a>
                <a id="timeline" class="item" href="/timeline">TimeLine&emsp;&nbsp;&nbsp;<i class="green line chart icon"></i></a>
                <a id="globaltweets" class="item" href="/globaltweets">Global&emsp;&nbsp;&nbsp;<i class="brown world icon"></i></a>
                <a id="settings" class="item" href="/settings">Settings&nbsp;&nbsp;&nbsp;&nbsp;<i class="blue settings icon"></i></a>
                <a id="about" class="item" href="/logout">Logout&emsp;&nbsp;&nbsp;<i class="red sign out icon"></i></a>
            </div>
        </div>
    </div>
</nav>

<script src="../js/sticky-menu.js"></script>
