<!--
* Author: Gary Fleming
* Student No: 20019497
* Date: Jan 7th 2018
-->

<nav class="ui menu">
    <header class="header item"> Twitter</header>
    <div class="right menu">
        <div class="ui dropdown item">
            &emsp;Menu&emsp;&emsp;<i class="brown sidebar icon"></i>
            <div class="menu">
                <a id="signup" class="item" href="/signup">&emsp;Sign Up&nbsp;&nbsp;&nbsp;<i class="red write icon"></i></a>
                <a id="login" class="item" href="/login">&emsp;Login&emsp;&nbsp;&nbsp;<i class="green sign in icon"></i></a>
                <a id="about" class="item" href="/about">&emsp;About&emsp;&nbsp;<i class="yellow info circle icon"></i></a>
                <a id="home" class="item" href="/">&emsp;Home&emsp;&nbsp;<i class="blue home icon"></i></a>
            </div>
        </div>
    </div>
</nav>

<script src="js/sticky-menu.js"></script>
