<!--
* Author: Gary Fleming
* Student No: 20019497
* Date: Jan 7th 2018
-->

{{> adminmenu _id = 'adminhome' }}

<section class="ui inverted teal segment">
    <section class="ui yellow raised segment">

        <h2 class="ui blue center aligned header">Registered Users Statistics</h2>

        <div class="ui yellow three small statistics segment">

            <div class="ui small statistic">
                <div class="ui center aligned header">Registered Users</div>
                <div class="value"><i class="small blue users icon"></i> {{users.length}}</div>
            </div>

            <div class="ui small statistic">
                <div class="ui center aligned header">Posted Tweets</div>
                <div class="value"><i class="small blue twitter icon"></i>{{tweets.length}}</div>
            </div>

            <div class="ui small statistic">
                <div class="ui center aligned header">Average Tweets Per User</div>
                <div class="value"><i class="small blue pie chart icon"></i>{{avgUsersTweets}}</div>
            </div>

        </div>
        <br><br>
    </section>
</section>

<div class="ui two column grid basic segment">
    <div class="column">
        <section class="ui inverted teal segment">
            <section class="ui yellow raised segment">

                <h2 class="ui blue center aligned header">Register a New User</h2>

                <div class="ui raised form segment">
                    <form action="/registeruser" method="POST">

                        <div class="field">
                            <label>First Name</label>
                            <div class="ui icon input">
                                <input placeholder="First Name" type="text" name="firstName">
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <div class="ui icon input">
                                <input placeholder="Last Name" type="text" name="lastName">
                                <i class="user icon"></i>
                            </div>
                        </div>

                        <div class="field">
                            <label>Email</label>
                            <div class="ui icon input">
                                <input placeholder="Email" type="text" name="email">
                                <i class="mail icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <div class="ui icon input">
                                <input type="password" name="password">
                                <i class="lock icon"></i>
                            </div>
                        </div>

                        <button class="ui tiny animated fade red submit button">
                            <div class="visible content"><i class="arrow circle up icon"></i>Register</div>
                            <div class="hidden content">Click to Add</div>
                        </button>

                    </form>
                    {{> formerror }}
                </div>
            </section>
        </section>
    </div>

    <div class="column">
        {{> tweetusers}}
    </div>
</div>


<script src="js/checkbox.js"></script>
<script src="js/admin-stats.js"></script>