<!--
* Author: Gary Fleming
* Student No: 20019497
* Start Date: Oct 10th 2017
-->

{{> adminmenu _id = 'adminhome' }}

<div class="ui two column grid basic segment">
    <div class="column">
        <section class="ui inverted teal segment">
            <section class="ui yellow raised segment">
                <h2 class="ui blue center aligned header">Register a New User</h2>

                <div class="ui raised form segment">
                    <form action="/registeruser" method="POST">

                        <div class="field">
                            <label>First Name</label>
                            <div class="ui icon input">
                                <input placeholder="First Name" type="text" name="firstName">
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <div class="ui icon input">
                                <input placeholder="Last Name" type="text" name="lastName">
                                <i class="user icon"></i>
                            </div>
                        </div>

                        <div class="field">
                            <label>Email</label>
                            <div class="ui icon input">
                                <input placeholder="Email" type="text" name="email">
                                <i class="mail icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <div class="ui icon input">
                                <input type="password" name="password">
                                <i class="lock icon"></i>
                            </div>
                        </div>

                        <button class="ui tiny animated fade red submit button">
                            <div class="visible content"><i class="arrow circle up icon"></i>Register</div>
                            <div class="hidden content">Click to Add</div>
                        </button>

                    </form>
                    {{> formerror }}
                </div>
            </section>
        </section>
    </div>

    <div class="column">
        {{> tweetusers}}
    </div>
</div>


<script src="js/checkbox.js"></script>
