<!--
* Author: Gary Fleming
* Student No: 20019497
* Start Date: Oct 10th 2017
-->

{{> welcomemenu }}

<section class="ui inverted teal segment">
    <section class="ui yellow raised segment">
        <div class="ui grid">

            <aside class="eight wide column">
                <img class="ui big image" src="images/welcomePage.gif">
            </aside>

            <article class="eight wide center aligned column">
                <h2 class="ui red header"> Welcome to Twitter</h2>
                <p> Tweet what you can - when you can!!!<br>or don't - whatever - I don't care<br>you know you want to!!!<br>don't you..... </p>
            </article>

        </div>
    </section>
</section>